.main-page {
@media screen and (min-width:1200px) {
    margin-top: 0;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.66;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primery-text-color);
    }
    
    @media screen and (min-width:320px) and (max-width:1200px) {
    display: none;
    }
}

.hero {
    width: 100%;
    padding-top: 200px;
    padding-bottom: 200px;
}

.hero__title {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hat-bg.jpg);
    text-align: center;
    max-width: 1600px;
    background-size: cover;
    @media screen and (min-width:320px) and (max-width:480px) {
        padding-top: 118px;
        padding-bottom: 118px;
    }
        @media screen and (min-width:480px) and (max-width:768px) {
            padding-top: 118px;
            padding-bottom: 118px;
        }
}
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx){

.hero__title{
    background-color: #2F303A;
    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url(../images/hero@2x.jpg);
        }
    
        @media screen and (min-width: 768px) {
            max-width: 768px;
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url(../images/tab-hero.jpg);
        }
    
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url(../images/tab-hero@2x.jpg);
        }
    
        @media screen and (min-width: 1200px) {
            max-width: 1600px;
            height: 600px;
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url(../images/desktop-img/img1.jpg);
        }
    
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url(../images/bg-hero@2x.jpg);
        }
    
}
}



.hero__title-one {
    font-family: 'Roboto';
    font-style: normal;
    color: #FFFFFF;
    width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin: 0 auto 30px auto;

    @media screen and (min-width:480px) and (max-width:768px) {
    width: 360px;
    height: 84px;
    font-size: 26px;
    line-height: 1.62;
    
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    padding-left: auto;
    padding-right: auto;
    color: #FFFFFF;
    }
    
    @media screen and (min-width:320px) and (max-width:480px) {
    width: auto;
    height: auto;
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    padding-left: auto;
    padding-right: auto;
    color: #FFFFFF;
        }
    
    @media screen and (min-width:1200px) {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
        }
}


.hero__container{
  @media screen and (min-width:320px) and (max-width:1199px) {

    }
}


.hero__buy {
    color: #ffffff;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    background-color: #2196F3;
    padding: 10px 32px 10px 32px;
    border-color: transparent;
    @media screen and (min-width:320px) and (max-width:767px) {
            
        }
    
        @media screen and (min-width:320px) and (max-width:767px) {
            
        }
    
        @media screen and (min-width:1200px) {
            
        }
}

